*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*a{
    text-decoration: none;
}
.nav-header{
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.nav-header .logo{
    max-width: 100px;
}
.nav-header .logo img{
    width: 100%;
}
.myNavbar{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.myNavbar li{
    list-style: none;
    /* background-color: red; */
    padding: 20px;
}
.myNavbar li a{
    color: white;
    text-decoration: none;
}
/* Link Active CSS */
.current-menu-item a{
    color: orange !important;
}

a.page-numbers, span.page-numbers{
    /* background-color: red; */
    display: inline-block;
    padding:  0px 5px;
    border: 1px solid orange;
    text-decoration: none;
}
span.page-numbers.current{
    color: green;
    /* border: 1px solid green; */
}
.screen-reader-text{
    display: none;
}